:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --main-hover-color: #2196f3;
  --main-svg-color: #afb1b8;
  --timing-function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}