.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 30px;

/*   @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: calc(42 / 36);
  } */

  @include desktop {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item{
  align-items: baseline;
  width: 100%;
  flex-basis: calc((100% - 30px) / 2);

  @include tablet {
    flex-basis: calc((100% - 60px) / 3);
  }

  @include desktop {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 210px;
  height: 92px;
  color: var(--main-svg-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function-cubic),
    color var(--duration) var(--timing-function-cubic);

  &:hover,
  &:focus {
    border-color: var(--main-hover-color);
    color: var(--main-hover-color);
  }

  /* @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
      width: 170px;
  height: 92px;
  } */
}

.clients__icon {
  /* fill: var(--main-svg-color); */
  fill: currentColor;
  /* transition: fill var(--duration) var(--timing-function-cubic); */
}
