.quality {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.quality__item {
  align-items: baseline;
  width: 100%;
  /* margin-right: 30px; */
  /* flex-basis: calc((100% - 90px) / 4); */

  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.quality__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;

  @include tablet{
    max-width: 354px;
  }

  @include desktop{
    max-width: 270px;
  }
}

.quality__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;

  @include tablet{
    text-align: left;
  }

  /* @include desktop{
    text-align: left;
  } */
}

.quality__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
