.header {
  background-color: #ffffff;
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include desktop {
    justify-content: none;
  }
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;

  @include desktop {
    margin: 0px;
    /* margin-left: 15px; */
  }
}

.header-nav {
  display: none;

  @include tablet {
    display: flex;
  }
}

.header-nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.header-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14; /* line-height(px)/font-size(px) */
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function-cubic);
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;

  &:hover,
  &:focus {
    color: var(--main-hover-color);
  }
}

.header-contacts {
  display: none;

  @include tablet {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
}

.header-contacts__item {
  /* display: flex; */
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    margin-bottom: 0;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--duration) var(--timing-function-cubic);

  &:hover,
  &:focus {
    color: var(--main-hover-color);
  }

  @include desktop {
    position: relative;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current-link {
  color: var(--main-hover-color);
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
    bottom: -1px;
    /* bottom: -33px; */
  }
}
